{% extends 'Shop/base.html' %}
{% load static %}
{% block main %}
     <div>
        <p class="delivery-info section-content__title">
            ДОСТАВКА
        </p>
        <p class="delivery-info">
            <br>
            Мы совершаем доставку товара по всей территории Украины, за исключением временно оккупированных территорий –
            АР
            Крым и отдельных населённых пунктов Донецкой и Луганской обл.

        </p>
        <p class="delivery-info font--semi-bold">
            Условия бесплатной доставки:
        </p>
        <p class="delivery-info">
            в отделение Укрпочты (обязательное условие – выбор данного способа доставки в момент оформления заказа), при
            этом перевозчик не доставляет АКБ, товары весом свыше 30 кг и товары размером более 70 см;
        </p>
        <p class="delivery-info font--semi-bold">
            Доставка за счет получателя:
        </p>
        <p class="delivery-info">
            в отделение Новой Почты (обязательное условие – выбор данного способа доставки в момент оформления заказа) с
            оплатой фиксированной суммы 49 грн, вне зависимости от веса, объема и расстояния, при этом услугу обратной
            пересылки денег при наложенном платеже оплачивает клиент (во избежание затрат на обратную пересылку денег
            рекомендуем оплатить товар на сайте он-лайн перед отправкой):
            другими перевозчиками, при этом груз страхуется на минимальную сумму согласно правилам выбранного
            перевозчика, а
            переход рисков, связанных с утратою либо повреждением товара, происходит в момент передачи товара
            перевозчику.
        </p>
    </div>
{% endblock %}