{% extends 'Shop/base.html' %}
{% load static %}
{% block main %}
    <!-- ::::::  Start  Main Container Section  ::::::  -->
   <main id="main-container" class="main-container">
        <div class="about-top">
            <div class="container">
                <div class="row">
                    <div class="section-content--border">
                        <div class="about-content">
                            <h4 class="section-content__title">ГАРАНТИЯ И ВОЗВРАТ ТОВАРОВ</h4>
                            <p class="font--semi-bold"> Гарантия <br>  Действие гарантии:</p>
                            <p class="section-content"> 6 мес. или 20 000 км;
                                    расширенная гарантия от производителей;
                                     для автошин – на момент монтажа на транспортное средство.
                                         В качестве гарантийного талона выступает расходная накладная на товар, который был приобретен. Даже если накладная не была сохранена, мы идентифицируем факт и дату приобретения в нашей операционной системе.
                            </p>

                            <p class="font--semi-bold"> Срок рассмотрения претензий - как правило, в момент обращения, а в случае необходимости проведения проверки причин возникновения дефекта - в срок согласно действующему законодательству Украины.
                            </p>


                            <p class="font--semi-bold">Условия рассмотрения претензий:</p>
                            <p class="section-content">К товару стоимостью до 3000 грн, за исключением электрических изделий, - предоставление дефектного товара без документов;
                                    к товару стоимостью 3000 грн и более, а также любым электрическим изделиям - предоставление дефектного товара, заказа-наряда на монтаж товара на СТО и акта рекламации;
                                    соблюдение условий, при которых действует гарантия;
                                    стоимость товара, который должен быть установлен парно, определяется как стоимость пары.
                            </p>

                            <p class="font--semi-bold"> Размер возмещения убытков:</p>
                            <p class="section-content"> Цена дефектного товара;
                                    другие документально подтвержденные затраты, связанные с устранением выявленного дефекта – при предоставлении заказа-наряда на монтаж товара на СТО и акта рекламации
                            </p>

                            <p class="font--semi-bold">Возврат товаров надлежащего качества.</p>
                            <p class="section-content">Не понадобился либо не подошел товар? - Нет проблем!
                                 Срок возврата - в течение 14 дней, не считая дня покупки.
                            </p>

                            <p class="font--semi-bold">Условия возврата:</p>
                            <p class="section-content"> - Товар не использовался; <br> - Сохранены товарный вид и потребительские качества; <br>
                               - Сохранены упаковка, ярлыки.
                            </p>

                            <p class="font--semi-bold"> Порядок обращений.</p>
                            <p class="section-content"> Для оформления гарантийной претензии либо возврата товара надлежащего качества необходимо обратиться в офис продаж, где была совершена покупка.
                                В качестве официального обращения и подтверждения передачи товара необходимо оформить Претензию к качеству либо Заявление на возврат товара, которые могут быть заполнены непосредственно в офисе продаж или направлены по электронной почте.
                                По факту обращения осуществляется согласование перечня документов, сроков и способов передачи товара.
                            </p>

                            <p class="warn-title"> <br> ВНИМАНИЕ! </p>
                            <p class="font--semi-bold"> Не отправлять товар без предварительного согласования.
                                Товар должен быть упакован надлежащим образом. Не допускается нанесение на заводскую упаковку надписей, наклеек и скотча: корректная упаковка товара является ответственностью отправителя, а нарушение указанных требований может привести к отказу в возврате.
                                Никаких дополнительных затрат.
                                Все расходы на перемещение товаров, связанные с возвратом и гарантийной претензией, оплачиваем мы.
                                Денежные средства за возвращенный или дефектный товар перечисляются в кратчайшие сроки, но не более 7 дней.
                            </p>

                            <p class="font--semi-bold">Дополнительная информация: <br>    тел: (38) 067 464 37 47 <br>    e-mail:
                                    hermess.auto@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}