{% extends 'Shop/base.html' %}
{% load static %}
{% block main %}
      <div>
        <p class="payment_info warn-title">ОПЛАТА
        </p>
        <p class="payment_info">
            <br>
            Платежные реквизиты: <br> г.Киев
            <br> ТОВ «Гермес Нью»
            <br>ЄДРПОУ 44101246
            <br>Моб. 067 464 37 47
            <br>Пащенко О.В

        </p>
        <p class="payment_info font--semi-bold">
            ВНИМАНИЕ! В назначении платежа необходимо указать «Платеж за автозапчасти ( Полное название запчасти и, при наличии, вин-код)».

        </p>
    </div>
{% endblock %}